// Fonts
@import url("https://fonts.bunny.net/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "bootstrap/scss/bootstrap";

// font outfit
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

// font outfit
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");

// font poppins
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
    background-color: white;
}
body .navbar {
    font-family: "Outfit", sans-serif;
}
.tittle {
    color: #f13c20;
}
.tittlePreview {
    color: #fff;
    font-family: Poppins;
    font-size: 30px;
    font-weight: 400;
}

.aboutTittle {
    color: #efe2ba;
    font-family: Poppins;
    font-size: 30px;
    font-weight: 700;
}
.descTittle {
    color: #fff;
    font-size: 19px;
    font-weight: 400;
}
.institutionName {
    color: #fff;
    font-size: 19px;
    font-weight: 700;
}
.containerTextDashboard {
    margin: auto;
    padding: 50px;
    width: 50%;
}

.playButton {
    width: 76px;
    height: 76px;
}
.containerDashboard {
    box-sizing: border-box;
    border-radius: 50px;
    background-color: #f13c20;
}
.institutionContainer {
    display: flex;
    justify-content: center;
    background-color: white;
    width: 54px;
    height: 54px;
    border-radius: 50%;
}
.clockImage {
    transform: translateY(12px);
    width: 60px;
}
.tittleContainer {
    margin-top: 30px;
    margin-bottom: 20px;
}
.tittleContainer h3 {
    color: #06241b;
    font-family: Poppins;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 0px;
}
.courseContainerDescription {
    font-family: Inter;
    color: #7a7a7a;
    font-size: 20px;
    font-weight: 500;
    transform: translateY(-12px);
}
.exploreContainer {
    cursor: pointer;
}
.exploreText {
    color: #8e8e8e;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    text-decoration-line: underline;
}
.exploreArrow {
    width: 19px;
    transform: translateY(5px);
}
.containerDashboard h1 {
    font-size: 96px;
    font-style: normal;
    font-weight: 700;
}
.containerDashboard p {
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
}
.containerContentDashboard {
    display: flex;
    flex-direction: column;
    gap: 120px;
}
.imageCardContainer {
    object-fit: cover;
}
.carousel-indicators {
    margin-top: 20px;
    position: static;
    transform: translateX(40px);
}
.carousel-indicators li {
    font-size: 30px;
    border-radius: 50%;
    background-color: grey;
}
.carousel-indicators li.active {
    color: #2144ff;
}
.card {
    border-radius: 13px;
    filter: drop-shadow(
            0px 2.508171796798706px 21.946502685546875px rgba(121, 102, 234, 0.08)
    );
    overflow: hidden;
    border: none;
}
.highlightSecond {
    width: 650px;
}
.highlightSliderContainer {
    display: none;
    padding: 0px 10px;
    filter: drop-shadow(
            0px 2.508171796798706px 21.946502685546875px rgba(121, 102, 234, 0.08)
    );
}
.highlightSliderContainer .carousel-control-prev,
.highlightSliderContainer .carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.highlightSliderContainer .carousel-control-prev {
    left: -25px;
}

.highlightSliderContainer .carousel-control-next {
    right: -25px;
}

.highlightContainer {
    display: flex;
}
.carouselItemContainer {
    row-gap: 20px;
    column-gap: 30px;
}
.carouselMobileScreen {
    display: none;
}
.carouselItemContainer4 {
    column-gap: 10px;
}
.allPopularCourseContainer {
    background-color: #efe2ba;
    padding: 2px 0px 86px;
    margin-top: 100px;
}
.allPopularCourseContainer .container {
    transform: translateY(-15px);
}
.popularCourseContainer {
    display: none;
}
.specialCourseContainer {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
}
.specialCourse {
    margin: 100px 0px 30px;
}
.specialCourse p {
    margin-bottom: 0px;
    color: #000;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
}
.specialCourse h3 {
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
}
.prevArrow {
    transform: translateX(-17px);
}
.nextArrow {
    transform: translateX(-15px);
}
.komputer {
    transform: translateY(10px);
}
.joinContainer {
    column-gap: 40px;
}
.joinTextContainer {
    padding: 42px 90px;

    color: white;
    border-radius: 44px;
    background: linear-gradient(180deg, #20369c 0%, #1b275b 100%);
}
.joinTextContainer .left {
    width: 60%;
}
.joinTextContainer .right {
    row-gap: 35px;
}
.joinTextContainer .textWhiteBig {
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
}
.joinTextContainer .textYellow {
    color: #fab437;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
}
.joinTextContainer .textWhiteSmall {
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
}
.joinTextContainer .textBlack {
    border-radius: 23px;
    background-color: #fab437;
    border: none;
    padding: 12px;
    color: #232f65;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
}

@media only screen and (max-width: 1400px) {
    .joinTextContainer {
        padding: 42px 90px;
    }
    .joinTextContainer .left {
        width: 60%;
    }
    .joinTextContainer .textWhiteBig {
        font-size: 26px;
    }
    .joinTextContainer .textYellow {
        font-size: 26px;
    }
    .joinTextContainer .textWhiteSmall {
        font-size: 20px;
    }
    .joinTextContainer .textBlack {
        padding: 12px;
        font-size: 19px;
    }
}
@media only screen and (max-width: 1150px) {
    .carouselMobileScreen {
        display: block;
    }
    .carouselDeskScreen {
        display: none;
    }
}
@media only screen and (min-width: 1000px) {
    .carousel-control-prev {
        transform: translateX(-50%);
    }
    .carousel-control-next {
        transform: translateX(50%);
    }
}
@media only screen and (max-width: 992px) {
    .joinTextContainer {
        padding: 22px 40px;
    }
    .joinContainer img {
        width: 100%;
    }
    .joinTextContainer .left {
        width: 60%;
    }
    .joinTextContainer .textWhiteBig {
        font-size: 16px;
    }
    .joinTextContainer .textYellow {
        font-size: 16px;
    }
    .joinTextContainer .textWhiteSmall {
        font-size: 16px;
    }
    .joinTextContainer .textBlack {
        padding: 12px;
        font-size: 12px;
    }
    #contentCarousel2,
    #contentCarousel3,
    #contentCarousel4 {
        display: none;
    }
    .popularCourseContainer {
        display: block;
    }
    .specialCourse {
        margin-top: 60px;
    }
    .prevArrow {
        transform: translateX(-48px);
    }
    .nextArrow {
        transform: translateX(15px);
    }
}
@media only screen and (max-width: 850px) {
    .containerDashboard {
        padding: 50px 25px;
    }
    .containerDashboard h1 {
        font-size: 36px;
    }
    .containerDashboard p {
        font-size: 12px;
        margin-top: 30px;
        margin-bottom: 100px;
    }
}
@media only screen and (max-width: 800px) {
    .clockImage,
    .courseContainerDescription,
    .exploreText,
    .komputer {
        display: none;
    }
    .containerDashboard {
        margin: 42px 20px;
    }
}
@media only screen and (max-width: 780px) {
    .highlightContainer {
        display: none;
    }
    .highlightSliderContainer {
        display: block;
    }
    .tittleTop .tittle {
        width: 70%;
    }
    .tittleTop .tittle h3 {
        font-size: 18px;
    }
}
@media only screen and (max-width: 585px) {
    .carouselItemContainer {
        row-gap: 20px;
        column-gap: 10px;
    }
    .joinContainer {
        column-gap: 10px;
    }
    .joinTextContainer {
        padding: 22px 40px;
    }
    .joinContainer img {
        width: 100px;
    }
    .joinTextContainer .right {
        row-gap: 15px;
    }
    .joinTextContainer .left {
        width: 60%;
    }
    .joinTextContainer .textWhiteBig {
        font-size: 10px;
    }
    .joinTextContainer .textYellow {
        font-size: 10px;
    }
    .joinTextContainer .textWhiteSmall {
        font-size: 8px;
    }
    .joinTextContainer .textBlack {
        padding: 5px;
        font-size: 8px;
    }
    .prevArrow {
        transform: translate(-10px, -15px);
    }
    .nextArrow {
        transform: translate(-10px, -15px);
    }
}
