.progress {
    width: 200px;
    height: 200px;
    line-height: 100px;
    background: none;
    margin: 0 auto;
    box-shadow: none;
    position: relative;
}

.progress:after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 12px solid #fff;
    position: absolute;
    top: 0;
    left: 0;
}

.progress>span {
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
}

.progress .progress-left {
    left: 0;
}

.progress .progress-bar {
    width: 100%;
    height: 100%;
    background: none;
    border-width: 10px;
    border-style: solid;
    position: absolute;
    top: 0;
}

.progress .progress-left .progress-bar {
    left: 100%;
    border-top-right-radius: 140px;
    border-bottom-right-radius: 140px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
}

.progress .progress-right {
    right: 0;
}

.progress .progress-right .progress-bar {
    left: -100%;
    border-top-left-radius: 140px;
    border-bottom-left-radius: 140px;
    border-right: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.progress .progress-value #valueProgress {
    color: #4883FF;
    font-size: 35px;
    font-weight: 600;
}

.progress .progress-value #progressText {
    color: #1212126d;
    font-size: 15px;
    font-weight: 400;
}

.progress .progress-value {
    width: 90%;
    height: 90%;
    border-radius: 50%;
    background: #ffffff;
    line-height: 20px;
    text-align: center;
    position: absolute;
    top: 39%;
    left: 5%;
}

.progress.blue .progress-bar {
    border-color: #4883FF;
}

.progress.blue .progress-left .progress-bar {
    -webkit-transform: rotate(144deg);
    transform: rotate(144deg);
}

@media only screen and (max-width: 990px) {
    .progress {
        margin-bottom: 20px;
    }
}