.sidebar {
    width: 30%;
    border-radius: 16px;
    border: 1px solid #C5CAD5;
    padding: 50px 0px 200px;
}

.profileContainer img {
    width: 97.6px;
    height: 97.6px;
    border-radius: 50%;
    object-fit: cover;
}

.profileContainer .name {
    font-size: 17.5px;
    font-weight: 500;
}

.profileContainer .division {
    font-size: 17.5px;
    font-weight: 500;
    font-size: 15.6px;
    font-style: normal;
    font-weight: 300;
}

.menuContainer {
    width: 65%;
}

.menuContainer .menuItem.active img {
    filter: grayscale(100%) brightness(0) invert(100%);
}

.menuContainer .menuItem.active {
    background-color: #1294F2;
    color: white;
}

.menuContainer .menuItem {
    color: #7A7E86;
    width: fit-content;
    width: 100%;
    padding: 15.6px 0px;
    padding-left: 20px;
    font-size: 17.5px;
    font-weight: 500;
    border-radius: 17.5px;
}

/* middle */
.middle {
    width: 40%;
}

.statistic {
    border-radius: 16px;
    border: 1px solid #C5CAD5;
    padding: 50px 0px 50px 39px;
}

.middle .tittleStatistic {
    font-size: 27.7px;
    font-weight: 600;
}

.middle .dateStatistic {
    font-size: 15px;
    font-weight: 400;
    color: #1212126d;
}

.imageStatisticContainer {
    padding: 8.8px;
    border-radius: 50%;
}

.imageAbsenceContainer {
    background-color: #1294F2;
}

.imageTasksContainer {
    background-color: #5DC983;
}

.imageQuizContainer {
    background-color: #FBA63C;
}

.nameItemStatistic {
    color: #A5AAB5;
    font-size: 15px;
    font-weight: 500;
}

.progressItemStatistic {
    font-size: 15px;
    font-weight: 600;
}

/* done task container */
.doneTaskContainer {
    border-radius: 16px;
    border: 1px solid #C5CAD5;
    padding: 42px 31px;
    height: 280px;
    overflow-y: scroll;
}

.doneTaskItem {
    font-size: 13.8px;
    font-weight: 400;
}

.doneTaskItem .boldText {
    font-weight: 700;
}

.doneTaskItem .dateDoneTaskItem {
    font-size: 15.1px;
    font-weight: 400;
    color: #1212126d;
}

/* your progress */
.yourProgress {
    width: 25%;
    height: 500px;
    overflow-y: auto;
    border-radius: 16px;
    border: 1px solid #C5CAD5;
    padding: 50px 0px 50px 39px;
}

.tittleRight {
    font-size: 18.9px;
    font-weight: 500;
}

.textProgressBar {
    font-size: 15.1px;
    font-weight: 400;
}

.textProgressBar .progressNumber {
    color: #7A7E86;
}
.progressItem{
    width: 90%;
}
.progressBar {
    height: 5px;
    border-radius: 252.5px;
    overflow: hidden;
    background-color: #C5CAD5;
}

.coloredProgressBar {
    height: 5px;
    width: 50%;
    background-color: #4883FF;
}