.sidebar {
    width: 30%;
    height: fit-content;
    border-radius: 16px;
    border: 1px solid #C5CAD5;
    padding: 50px 0px 200px;
}

.profileContainer img {
    width: 97.6px;
    height: 97.6px;
    border-radius: 50%;
    object-fit: cover;
}

.profileContainer .name {
    font-size: 17.5px;
    font-weight: 500;
}

.profileContainer .division {
    font-size: 17.5px;
    font-weight: 500;
    font-size: 15.6px;
    font-style: normal;
    font-weight: 300;
}

.menuContainer {
    width: 65%;
}

.menuContainer .menuItem.active img {
    filter: grayscale(100%) brightness(0) invert(100%);
}

.menuContainer .menuItem.active {
    background-color: #1294F2;
    color: white;
}

.menuContainer .menuItem {
    color: #7A7E86;
    width: fit-content;
    width: 100%;
    padding: 15.6px 0px;
    padding-left: 20px;
    font-size: 17.5px;
    font-weight: 500;
    border-radius: 17.5px;
}

.tittleMyCourse {
    font-size: 24px;
    font-weight: 700;
}

.tabs {
    display: flex;
    list-style: none;
    margin-bottom: 10px;
}

ul {
    padding-left: 0rem !important;
}

.tab {
    cursor: pointer;
    padding: 10px 15px;
    color: #4883FF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

.tab:hover {
    background-color: #ddd;
}

.tab.active {
    border-bottom: 2px solid #4883FF;
}

/* Style for tab content */
.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

/* my course card container */
.thumbnailDetailCourse img{
    width: 296px;
    height: 219px;
    object-fit: cover;
}
.infoDetailMyCourse {
    color: #999B9F;
    font-size: 14px;
    font-weight: 400;
}

.percentageComplete {
    font-size: 20px;
    font-weight: 500;
}

.itemMyCourse {
    border-radius: 10px;
    border: 1px solid #C5CAD5;
}

.progressBarContainer {
    width: 78%;
    height: 10px;
    background-color: rgba(0, 0, 0, 0.10);
    border-radius: 67.7px;
}

.coloredProgressBar {
    width: 60%;
    height: 10px;
    background-color: #088BEA;
}

.tittleCardMyCourse {
    color: #4883FF;
    font-size: 30px;
    font-weight: 600;
}

.infoDetailMyCourse {
    color: #999B9F;
    font-size: 13px;
    font-weight: 400;
}

.subInfoDetailMyCourse {
    color: #4883FF;
    font-size: 15px;
    font-weight: 700;
}

.percentageComplete {
    color: #666;
}